body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.logo { 
	background:url("/crypto-icon-wide.png");
	position:relative;
	left:-50px;
	width:325px;
	height:44px;
}
.sub-item {
	font-size: .9em;
	padding-left:3em;
}
.subactive {
	background-color:#FF925D;
	padding-left:3em;
}
a.sub-item:hover {
	background-color:#FFDABC;
}
.hideme {
	display:none;
}
.osSelect {
	float:right;
	clear:right;
	/*width:225px;*/
	background: #EFEFEF;
	border:1px solid #DDDDDD;
	padding:.25em;
	margin:.25em;
}
.copyleft {
	font-size:.8em;
}
.clickItem {
	font-weight:600;
	color:#606060;
}
.btc {
	font-size:.8em;
}