/* General */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.logo { 
	background:url("/crypto-icon-wide.png");
	position:relative;
	left:-50px;
	width:325px;
	height:44px;
}
.copyleft {
	font-size:.8em;
}
.clickItem {
	font-weight:600;
	color:#606060;
}
.btc {
	font-size:.8em;
}


/* Nav */
.sub-item {
	font-size: .9em;
	padding-left:3em;
}
.subactive {
	background-color:#FF925D;
	padding-left:3em;
}
a.sub-item:hover {
	background-color:#FFDABC;
}


/* OS Selection */
.hideme {
	display:none;
}
.osSelect {
	float:right;
	clear:right;
	/*width:225px;*/
	background: #EFEFEF;
	border:1px solid #DDDDDD;
	padding:.25em;
	margin:.25em;
}


/* Warning box */
div.warning {
	background-color:#ff9081;
	padding:.5em;
	color:black;
	font-weight:bold;
	text-align:center;
}

.secure {
	background-color:#7BDB8D;
	padding:.5em;
	color:black;
	text-align:center;
	margin-bottom:.5em;
}
.secure a {
	color:black;
}
.secure:hover {
	background-color:#1EAA38;
	color:black;
}

div.code {
	background:#E0E0E0;
	border:1px dashed #CCCCCC;
	font-family: "Courier","Monotype","Consolas";
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
}
div.codeDesc {
	background:#FFFFFF;
	border:1px dashed #CCCCCC;
	font-family: "Courier","Monotype","Consolas";
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
}

/* Screenshots */
div.sshot-right, div.sshot-wide, div.sshot-split, div.sshot-triple {
	border: 1px solid #3071A9;
	background-image: linear-gradient(to bottom, #CCCCDD 0%, #ffdec3 80%);
	padding: .5em;
	margin:auto;
	margin-top:1.8em;
	margin-bottom:.6em;
	text-align:center;
}
.sshot-right {
	width:20em;
	float:right;
	clear:right;
	margin-top:1em;
}
.sshot-wide {
	width:80%;
	clear:both;
}
.sshot-split {
	width:100%;
}

.sshot-sm, .sshot-wd {
	width:100%;
}
.sshot-sp {
	width:45%;
	margin:0 .5em 0 .5em;
}
.sshot-tr {
	width:30%;
	margin:0 .5em 0 .5em;
}


/* Twitter */
.atxcrypto {
	font-family: "Lato";
	font-size:8pt;
	font-weight:300;
	color: blue;
}
.tweetbox {
	max-height:25em;
	overflow:scroll;
	border-bottom: 1px solid #DDD;
}
.tweetitem {
	display:block;
	background:#FFFFFF;
	border: 1px solid #DDD;
	padding:.4em .6em 1.4em .6em;
	/*width:250px;*/
	margin:auto;
	margin-bottom:-1px;
	text-align:justify;
}
.tweet {
	font-family: "Lato";
  	font-weight: 300;
	font-size:9pt;

}
.rticon {
	height:.6em;
	padding-right:.2em;
}
.tweetHTTP, .tweetHTTPS {
	text-decoration:none;
	color:#333388;
	font-family: "Lato";
	font-weight: 300;
	font-size: 9pt;
	float:right;
	margin-right:.1em;
}
.tweetHTTPS {
	color:#338833;
}
.tweetHTTP:hover, .tweetHTTPS:hover {
	text-decoration:underline;
}
.follow {
	display:block;
	background-image: linear-gradient(to bottom, #428BCA 0px, #3278B3 100%);
	border-radius:5px 5px 0px 0px;
	border: 1px solid #3278B3;
	padding:.2em .4em .2em .4em;
	margin:auto;
	margin-bottom:-1px;
	margin-top:1em;
	font-weight:400; 
	color:#333333;
}
.follow a {
	color:white;
}
.follow a:hover {
	text-decoration:underline;
}
#twitterShrink {
	float:right;
	font-weight:bold;
	margin-right:5px;
	/*border:1px dotted #3D88D3;*/
	padding-left:5px;
	padding-right:5px;
	
}
#twitterShrink:hover{
	cursor:pointer;
	text-decoration:none;
	color:white;
}